$color-primary:#0e4269;
$color-text:#a5fabe;
$color-color1:#f0a23e;
$color-color2:#e66b5b;
$color-color3:#c2bf5a;
$color-color4:#037a92;
$color-color5:#7badae;
$color-color6:#0e0b;
$color-black:#000;
$color-white:#fff;

$spacer-md:5px;
$spacer-0:0px;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:40px;
$spacer-6:60px;

$font-xsm:12px;
$font-sm:14px;
$font-md:16px;
$font-xl:18px;
$font-xxl:20px;
$font-heading:24px;